- var pageTitle = 'Online TV'

doctype html 
html(lang="en")
  head 
    title= pageTitle 
    style 
      include styles/style.css
      include styles/normalize.css
  body 
    include modules/header
    
    section 
      .container
        .banner 

    include modules/footer
