- var pageTitle = 'Online TV'

doctype html 
html(lang="en")
  head 
    title=pageTitle 
    style 
      include styles/style.css
      include styles/normalize.css
  body 
    include modules/header
    
    section.section-banner
      img(src="/src/images/mainbanner.png", alt="Banner").section-banner__image
      .container
        .banner 
          h1.banner__title Zack Snyder's Justice League
          .banner-info  
            span.banner-info__year 2021
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control
            button.banner-control__btn.banner-control__btn-main Watch
            button.banner-control__btn.banner-control__btn-more More information
    section.section
      .container
        h2.section__h2
          a(href="#").section__h2-link Trending TV Shows
        .movies
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster01.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster02.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster03.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster04.png", alt="poster").movies__img     
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster05.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster06.png", alt="poster").movies__img

    section.section
      .container
        h2.section__h2
          a(href="#").section__h2-link Trending Movies
        .movies
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster07.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster08.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster09.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster10.png", alt="poster").movies__img     
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster11.png", alt="poster").movies__img
          .movies-item
            a(href="#").movies__link
              img(src="../src/images/posters/poster12.png", alt="poster").movies__img 
        button.seemore-btn See more 

    section.section
      .container
        h2.section__h2
          a(href="#").section__h2-link Popular Genres
        .genres  
          .genres-item.genres-item__romance 
            .genres-icon
             img(src="/src/images/genres-icons/romance.svg", alt="genres-icon")    
            h3.genres__title Romance
          .genres-item.genres-item__drama 
            .genres-icon
              img(src="/src/images/genres-icons/drama.svg", alt="genres-icon")    
            h3.genres__title Drama
          .genres-item.genres-item__historical 
            .genres-icon
              img(src="/src/images/genres-icons/historical.svg", alt="genres-icon")    
            h3.genres__title Historical
          .genres-item.genres-item__action 
            .genres-icon
              img(src="/src/images/genres-icons/action.svg", alt="genres-icon")    
            h3.genres__title Action
          .genres-item.genres-item__scifi 
            .genres-icon
              img(src="/src/images/genres-icons/scifi.svg", alt="genres-icon")    
            h3.genres__title Sci-fi
          .genres-item.genres-item__horror 
            .genres-icon
              img(src="/src/images/genres-icons/horror.svg", alt="genres-icon")    
            h3.genres__title Horror
          .genres-item.genres-item__comedy 
            .genres-icon
              img(src="/src/images/genres-icons/comedy.svg", alt="genres-icon")    
            h3.genres__title Comedy
          .genres-item.genres-item__documentary 
            .genres-icon
              img(src="/src/images/genres-icons/documentary.svg", alt="genres-icon")    
            h3.genres__title Documentary
    section.section
      .container
        h2.section__h2
          a(href="#").section__h2-link Popular Actors &amp; Directors
        .actors  
          .actors-item
            a(href="#").actors__link
              img(src="../src/images/actors/1.png", alt="actor-photo").actors__img 
            h3.actors-title Samantha Bowen
          .actors-item
            a(href="#").actors__link
              img(src="../src/images/actors/2.png", alt="actor-photo").actors__img 
            h3.actors-title Rhys Birch
          .actors-item
            a(href="#").actors__link
              img(src="../src/images/actors/3.png", alt="actor-photo").actors__img 
            h3.actors-title James Holloway 
          .actors-item
            a(href="#").actors__link
              img(src="../src/images/actors/4.png", alt="actor-photo").actors__img 
            h3.actors-title Joshua Walton
          .actors-item
            a(href="#").actors__link
              img(src="../src/images/actors/5.png", alt="actor-photo").actors__img 
            h3.actors-title Patrick Elliott
          .actors-item
            a(href="#").actors__link
              img(src="../src/images/actors/6.png", alt="actor-photo").actors__img 
            h3.actors-title Morgan O'Neill

    section.section
      .container
        .marketing 
          .marketing-item 
            a(href="#").marketing__link
              img(src="../src/images/marketingBanner.png", alt="banner").marketing__img 
          .marketing-item 
            a(href="#").marketing__link
              img(src="../src/images/marketingBanner2.png", alt="banner").marketing__img 
    section.section
      .container
        .offer
          h2.offer__title Are You New Here ? Don’t&nbsp;wait, Register Now.           
          button.offer__btn Register Now

    include modules/footer
